body{
  background:#111;
  color:white;
  font-family:Arial,sans-serif;
  text-align:center;
  margin:0;
}

.header{
  padding:15px;
}

.board-wrapper{
  position:relative;
  width:800px;
  max-width:95vw;
  margin:auto;
}

.board{
  width:100%;
}

.player-token{
    position:absolute;
    z-index:1000;
    font-size:42px;
    transition:all .3s ease;
}

#diceResult{
  font-size:24px;
  font-weight:bold;
  margin-top:10px;
  color:#ff8c00;
}

.controls{
  margin:20px;
}

button{
  padding:12px 20px;
  font-size:18px;
  cursor:pointer;
}



#diceResult{
  font-size:40px;
  text-align:center;
  margin-top:15px;
  margin-bottom:15px;
  font-weight:bold;
}

.card{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#222;
  border:3px solid orange;
  padding:20px;
  border-radius:15px;
  width:300px;
  z-index:100;
}

.hidden{
  display:none;
}

.lobby{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:20px;
}

.lobby input{
  width:250px;
  padding:12px;
  border:none;
  border-radius:10px;
  font-size:18px;
}

.token-select{
  display:flex;
  gap:10px;
}

.token-select button{
  width:60px;
  height:60px;
  font-size:30px;
  border:none;
  border-radius:12px;
  cursor:pointer;
}
